body {
font-family: sans-serif;
}

/*MENU*/
header {
background: #e54b4b;
color: #ebebd3;
position: relative;
padding: 1em 0;
}

header::after {
content: "";
clear: both;
display: block;
}

.logo {
float: left;
font-size: 1rem;
margin: 0;
text-transform: uppercase;
font-weight: 700;
}

.logo span {
font-weight: 400;
}

.main-nav {
position: fixed;
top: 100%;
right: 0;
left: 0;
background: #464655;
height: 0;
overflow: hidden;
}

.main-nav-open {
height: auto;
}

.main-nav ul {
margin: 0;
padding: 0;
list-style: none;
}

.main-nav li {
border-bottom: 1px solid #575766;
}

.main-nav li:last-child {
border-bottom: none;
} 


.main-nav a {
    display: inline-block;
    width: 100px;
    height: 55px;
 
    color: White;
 
    text-align: center;
    line-height: 55px;
 
    text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus{
background: #e4b363;
color: #464655; 
}

.nav-icon {
display: inline-block;
font-size: 1.3em;
margin-right: .5em;
text-align: center;
width: 1.1em;
color: rgba(255,255,255,0.45);
}
